img{
  text-align: center;
}

body
{
  text-align:center;
  background: linear-gradient( #c5f1f7 0%, #314fce 100%);
  
}
#myname{
    font-family: 'Courgette', cursive; 
}
html{
    scroll-behavior: smooth;
}